* {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.background {
  background-color: rgba(203, 223, 195, 0.75);
}

.icon {
  margin: 6px 6px 6px 30px;
  color: gray;
  font-size: 36px;
}

.links {
  margin: 6px 30px 6px 6px;
}

.links li {
  padding: 8px 18px;
  font-size: x-large;
}

.links li a {
  color: #e2ae9a;
}

.links li a:hover {
  color: white;
}

.icon:hover {
  color: white;
}
